*{
  box-sizing: border-box;
}
.form-layout {
  width: 23.8125rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.63rem;
  
}
.form-layout p{
margin: 0;
}
label {
  color: var(--Deep-Violet, #21092f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Space Grotesk;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.name-label,
.cardNumber-label {
  gap: 0.56rem;
}

.mmyy-cvc-div {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
.mmyy-cvc-div input{
  margin:0
}
.mmyy-div {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
}
.mmyy-div label {
  margin: 0;
}

.mmyy-input {
  display: flex;
  flex-direction: row;
  gap: 0.62rem;
}

.mm-input,
.yy-input {
  width: 5rem;
}
.cvc-label {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
}
.cvc-label input{
  width:11.9375rem
}
.error-info {
  color: var(--Red, #ff5050);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Space Grotesk;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }
.confirm-button {

  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  height: 3.3125rem;
  border-radius: 0.5rem;
  background: var(--Deep-Violet, #21092f);
  padding: 1px;
}
input {
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
  padding-left: 1rem;
}
input::placeholder {
  color: var(--Deep-Violet, #21092f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.25;
}
input:focus {
  border-radius: 0.5rem;
  border: 1px solid var(--Gradient, #6348fe);
  background: var(--White, #fff);
  outline: none;
}
.input-error{
  border-color: var(--Red, #ff5050);
}
.input-error:focus{
  border: 1px solid var(--Gradient, #ff5050);
}