*{
  box-sizing: border-box;
}
.container {
    width: 23.8125rem;
    height: 18.1875rem;
    text-align: center;
}
.thanksText {
  color: var(--Deep-Violet, #21092f);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Space Grotesk;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.21388rem;
  margin-top: 2.19rem;
  margin-bottom: 1rem;
}
.cardDetails {
  color: var(--Purplish-Grey, #8f8694);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Space Grotesk;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3rem;
}
.continueButton {
  width: 23.8125rem;
  height: 3.3125rem;
  border-radius: 0.5rem;
  background: var(--Deep-Violet, #21092f);
  color: var(--White, #fff);
}
.doneSVG {
  width: 5rem;
  height: 5rem;
  margin: auto;
}
