.left-surface {
  width: 483px;
  height: 900px;
  background: #21092f;
  overflow: hidden;
  position: relative;
}
.mask2{
  width: 483px;
  height: 900px;
  position: absolute;
  background: var(--Deep-Violet, #21092F);
}
.oval1{
  width: 248px;
  height: 657px;
  top: -163px;
  left: 307.53px;
  transform-origin: 0 0;
  transform: rotate(45deg);
  opacity: 0.15;
  background: #D53AFF;
  filter: blur(67.95704650878906px);
  position: absolute;
  border-radius: 41.0625rem
}
.oval2 {
  width: 248px;
  height: 657px;
  top: -116px;
  left: 458.53px;
  transform-origin: 0 0;
  transform: rotate(45deg);
  border-radius:657px;
  opacity: 0.15;
  background: #ff834a;
  filter: blur(67.95704650878906px);
  position: absolute;
  
}
.oval3 {
  width: 248px;
  height: 657px;
  top: 120.53px;
  left: 243.57px;
  transform-origin: 0 0;
  transform: rotate(45deg);
  border-radius: 657px;
  opacity: 0.15;
  background: #47a2ff;
  filter: blur(67.95704650878906px);

  position: absolute;
}
